*{
margin: 0px;
padding: 0px;
}
h1 {
font: bold 20px verdana, sans-serif;
}
h2{
font: bold 14px verdana, sans-serif;
}
header, section, footer, aside, nav, article, figure, figcaption, hgroup{
display: block;
}
body {
text-align: center;
}

#agrupar {
width: 960px;
margin: 15px auto;
text-align: left;
border: 1px solid #000;
}
#cabecera {
background: rgb(58, 151, 212,0.5);
border: 1px solid #0c0e20;
padding: 20px;
}
#menu {
background: #CCCCCC;
padding: 5px 15px;
}
#menu li {
display: inline-block;
list-style: none;
padding: 5px;
font: bold 14px verdana, sans-serif;
}
#seccion {
float: left;
width: 660px;
margin: 20px;
background-color:rgb(29, 159, 182,0.4);
}
#columna {
float: left;
width: 220px;
margin: 20px 0px;
padding: 10px;
background: #CCCCCC;
text-align: justify;
}
#pie {
clear: both;
text-align: center;
padding: 20px;
border-top: 2px solid #999999;
background-color:rgb(58, 151, 212,0.5); ;
}
article {
background:rgb(97, 184, 224, 0.5);
border: 1PX solid #999999;
padding:20px;
margin-bottom: 15px;
}
article footer {
text-align: right;
}
time {
color: #999999;
}
figcaption {
font:bold 14px verdana, sans-serif;
}